In [4]:
## for , while
## statment -- break and continue

## for loop -- iterating over asequence

# seq - list, tuple, string

s = 'python'

for i in s:
    print(i,end=' ')

# i -- is temporary variable

p y t h o n

In [6]:
l = ['red','black','green','yellow','cyan']
for i in l:
    print(i)
    print(i.upper())
    pass

red
RED
black
BLACK
green
GREEN
yellow
YELLOW
cyan
CYAN

In [13]:
d = {
    'red' : 1,
    'black' : 2,
    'cyan' : 3 
}

for i , j in d.items():
    print(i , j)

red 1
black 2
cyan 3

In [26]:
## squre function -- list -- o/p ilst

def squre(l:list):
    temp = []
    for i in l:
        temp.append(i*i)
    return temp
print(squre([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [27]:
## break statment 

for i in range(1,10 + 1):
    if i == 5:
        break
    print(i)
    pass

1
2
3
4