In [20]:
## for , while
## statment -- break and continue

## for loop -- iterating over asequence

# seq - list, tuple, string

s = 'python'

for i in s:
    print(i,end=' ')

# i -- is temporary variable

p y t h o n

In [21]:
l = ['red','black','green','yellow','cyan']
for i in l:
    print(i)
    print(i.upper())
    pass

red
RED
black
BLACK
green
GREEN
yellow
YELLOW
cyan
CYAN

In [22]:
d = {
    'red' : 1,
    'black' : 2,
    'cyan' : 3 
}

for i , j in d.items():
    print(i , j)

red 1
black 2
cyan 3

In [ ]:
## squre function -- list -- o/p ilst

def squre(l:list):
    temp = []
    for i in l:
        temp.append(i*i)
    return temp
print(squre([1,2,3,4,5,6]))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [24]:
## break statment 

for i in range(1,10 + 1):
    if i == 5:
        break
    print(i)
    pass

1
2
3
4

In [25]:
for i in range(1,11):
    pass

In [26]:
## while loop -- condition based loop

i = 1
while(i<=10):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [27]:
i = 10
while(i>=1):
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [28]:
i = 1
while(i<=10):
    if i == 5:
        i = i+1
        continue
    print(i)
    i += 1

1
2
3
4
6
7
8
9
10

In [35]:
# sum of n num

n = int(input('ente a num'))
i = 1
sum = 0
while(i <= n):
    sum += i
    i += 1
    pass
print(sum)

15

In [51]:
## factorial
n = int(input('ente a num'))
fact = 1
while(n > 1):
    fact = fact * n
    n-= 1
print(fact)

120